<div>
    <p>Upload a train info CSV:</p>
    <form action="upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="{{ app.file_upload_name }}">
        <input type="submit">
    </form>
</div>
